.cart-comp{
    /* display: flex; */
    justify-content: space-between;
    width: 741px;
    height: 384px;
    margin-top: 196px;
    margin-left: 100px;
    gap: 41px;
    
}

.left-cart{
    max-width: 741px;
    height: 151px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    /* border: 2px solid #000; */
    background-color: #F6F0E2;
    margin-bottom: 50px;
}

.cart-image img{
    width: 125px;
    height: 101px;
    margin-top: 25px;
    margin-left: 25px;
}

.name-price{
    width: 474px;
    height: 103px;
    margin-top: 24px;
    margin-left: 207px;
    justify-content: space-between;
    display: flex;
}
.cart-details{
    /* width: 161px; */
    height: 103px;
    gap: 50px;

}

.cart-details h1{
    /* width: 161px; */
    font-family: Inter;
    /* font-weight: 600; */
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;
}


.btn{
    display: flex;
    width: 72px;
    height: 24px;
    gap: 8px;
    align-items: center;
    
}

.btn button{
    width: 24px;
    height: 24px;

}

.cart-price{
    width: 60px;
    height: 103px;
    gap: 50px;
}

.cart-price h1{
    font-family: Inter;
    /* font-weight: 500; */
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;
}

.left-cart-items{
    position: absolute;
    top: 196px;
    left: 100px;
    gap: 41px;
    
  /* border: 2px solid #000; */

}











.right-cart{
    width: 398px;
    height: 413px;
    position: absolute;
    top: 196px;
    left: 1042px;
    border-radius: 10px;
    padding: 24px;
    gap: 24px;
    background-color: #F6F0E2;
   
}

.cart-summary h1{
    width: 350px;
    height: 39px;
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 38.73px;
    color: #000000;
}

.sub-total{
    width: 350px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    
}

.sub-total p{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;;

}

.total{
    width: 343px;
    /* height: 77px; */
    /* border: 2px,0px,24px,0px; */
    justify-content: space-between;
    /* padding:  0px, 24px, 0px; */
    display: flex;

}

.total p{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;

}

.total h3{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;
}

.estimate{
    width: 350px;
    height: 111px;
    gap: 12px;
}


.checkout button{
    width: 350px;
    height: 66px;
    border-radius: 10px;
    background-color: #FFAE5A;
    /* width: 139px; */
    /* height: 29px; */
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}