/* Import styles if needed */
/* import "../Checkout/CheckoutCom.css"; */

/* Base styles for desktop */
.CheckoutCom {
    max-width: 366px;
    height: 675px;
    margin-top: 174px;
    margin-left: 100px;
    gap: 54px;
}

.info-summary {
    max-width: 366px;
    height: 582px;
    gap: 130px;
    display: flex;
}

.left-info {
    width: 721px;
    height: 582px;
    gap: 48px;
}

.info-payment {
    width: 712px;
    height: 469px;
    border-radius: 10px;
    gap: 44px;
}

.personal-info {
    width: 366px;
    height: 73px;
    gap: 12px;
}

.personal-info-form {
    width: 712px;
    height: 42px;
    gap: 20px;
    display: flex;
}

.input-field {
    width: 387px;
    height: 42px;
    border-radius: 4px;
    border: none;
    background-color: #F6F0E2;
}

.address {
    max-width: 366px;
    height: 139px;
    gap: 12px;
}

.address-form {
    width: 712px;
    height: 42px;
    gap: 20px;
    display: flex;
}

.country-form {
    width: 712px;
    height: 42px;
    gap: 26px;
    display: flex;
    margin-top: 20px;
}

.country {
    width: 220px;
    height: 42px;
    border-radius: 4px;
    background-color: #F6F0E2;
    border: none;
}

.payment {
    max-width: 366px;
    height: 169px;
    gap: 21px;
    margin-top: 40px;
}

.paypal {
    width: 712px;
    height: 54px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-label {
    width: 91px;
    height: 24px;
    gap: 12px;
}

.paypal img {
    width: 70px;
    height: 30px;
}

.credit-debit {
    width: 712px;
    height: 54px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.visa-master {
    width: 151px;
    height: 30px;
    display: flex;
}

.visa-master img {
    width: 70px;
    height: 30px;
}

.paynow button {
    width: 350px;
    height: 66px;
    border-radius: 10px;
    background-color: #FFAE5A;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.summary-right-cart {
    width: 398px;
    height: 300px;
    border-radius: 10px;
    padding: 24px;
    gap: 24px;
    background-color: #F6F0E2;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
    .CheckoutCom {
        width:366px;
        height: 300px;
        margin: 20px -10px;
        padding: 10px;
        gap: 20px;
    }

    .info-summary {
        flex-direction: column;
        gap: 20px;
    }

    .left-info {
        width: 366px;
        gap: 20px;
        
    }

    .info-payment {
        width: 366px;
        /* height: 544px; */
        gap: 20px;
        padding: 10px;
    }

    .personal-info,
    .address,
    .payment {
        padding: 10px;
        gap: 32px;
    }

    .personal-info-form,
    .address-form,
    .country-form {
        flex-direction: column;
        gap: 10px;
        height: 42px;
        width: 366px;
        /* padding: 10px; */
    }

    .input-field,
    .country {
        width: 330px;
        height: 42px;
        gap: 18px;
        padding: 15px;
    }

    .address{
        margin-top: 60px;
    }

    .payment{
        margin-top: 120px;
    }



    .paypal,
    .credit-debit {
        width: 366px;
        height: 36px;
        /* display: flex; */
        /* flex-direction: column; */
        gap: 12px;
    }

    .paypal img,
    .visa-master img {
        width: 49px;
        height: 21px;
        margin-right: 10%;
        margin-left: 10px;
        
    }

    .paynow button {
        width: 318px;
        height: 66px;
        border-radius: 10px;
        position: relative;
        top: 460px;
        left: 32px;
    }

    .summary-right-cart {
        width: 366px;
        height: 600;
        padding: 24px;
        border-radius: 10px;
        gap: 10px;
        position: relative;
        top: 80px;
        
    }
    .checkout-heading h1{
        display: none;
    }
}
